<h1>Azure Management!</h1>
<p>Welcome to azure management application</p>

<div class="container">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="VMName"><b>Name of VM</b></label>
      <input type="text" placeholder="Enter VM Name" class="form-control col-md-3"
             [(ngModel)]="vmConfig.VMName"
             required
             name="VMName"
             #VMName="ngModel">
      <div [hidden]="VMName.valid || VMName.pristine"
           class="alert alert-danger col-md-3">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="VMSize"><b>Select a VM size</b></label>
      <select class="form-control col-md-3"
              [(ngModel)]="vmConfig.VMSize"
              required
              name="VMSize"
              #VMSize="ngModel">
        <option value="StandardD1">Standard D1</option>
        <option value="StandardD2">Standard D2</option>
        <option value="StandardD11">Standard D11</option>
      </select>

      <div [hidden]="VMSize.valid || VMSize.pristine"
           class="alert alert-danger col-md-3">
        Size is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Create</button>
  </form>
</div>

<br/>
<p *ngIf="!vmList"><em>Loading...</em></p>

<div class="container">
  <table class='table table-striped' *ngIf="vmList">
    <thead>
      <tr class="row">
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Size</th>
        <th class="col-md-6">ErrorMessage</th>
        <th class="col-md-2">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vm of vmList" class="row">
        <td class="col-md-2">{{ vm.vmName }}</td>
        <td class="col-md-2">{{ vm.vmSize }}</td>
        <td class="col-md-6"><p>{{ vm.errorMessage }}</p></td>
        <td class="col-md-2">{{ vm.timestamp | date :'dd-MMM-yy h:mm:ss a z'}}</td>
      </tr>
    </tbody>
  </table>
</div>
