<h1>Azure Management!</h1>
<p><!--Welcome to azure management application, built with:--></p>
<p>Welcome to azure management application</p>
<!--<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>-->

<div class="container">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="name"><b>Name of VM</b></label>
      <input type="text" placeholder="Enter VM Name" class="form-control col-md-3"
             [(ngModel)]="vmConfig.name"
             required
             name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger col-md-3">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="size"><b>Select a VM size</b></label>
      <select class="form-control col-md-3"
              required
              name="size"
              [(ngModel)]="vmConfig.size"
              #size="ngModel">
        <option value="StandardD1">Standard D1</option>
        <option value="StandardD2">Standard D2</option>
        <option value="StandardD11">Standard D11</option>
      </select>

      <div [hidden]="size.valid || size.pristine"
           class="alert alert-danger col-md-3">
        Size is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Create</button>
  </form>
</div>
